@model int
@{
    ViewData["Title"] = "404错误";
}

<div class="alert alert-danger mt-1 mb-1">
    <h4>404 Not Found错误：</h4>
    <hr />
    <h5>查询不到学生ID为 @Model 的信息</h5>
</div>

<a asp-controller="Home" asp-action="Index" class="btn btn-outline-success" style="width:auto;">单机此处查看学生信息列表</a>
