
@{
    ViewData["Title"] = "密码设置成功";
}

<h1 class="text-info">密码设置成功</h1>
<h4 class="text-secondary">您已成功设置本地密码。现在您可以随意选择您的本地用户账户或第三方账户登录到系统中。</h4>
<a asp-controller="Home" asp-action="Index" class="btn btn-outline-success" style="width:auto;">单机此处返回首页</a>

